*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#mainFrame{
    background-color: #242424;
    padding: 10px;
    width: 100%;
    
    
}
.movie-grid{    
    .movieDiv{
        width: 300px;
        height: 620px;
    }
}
.movie-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .movieDiv{
        margin-left: 50px;
        display: flex;
        width: 100%;
        height: 200px;
        .divInfo{
            width: 950px;
        }
        .movie-poster{
            height: 180px;
            width: 150px;
        }
    }
}
.divInfo{
    color: #eee;
}



/*///-------------------conteiner details-----------------------------

.details__conteiner {
    padding-top: 30px;
    padding: 20px;
    display: flex;
    background-image:
        linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
        var(--bg-img);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imgDetails{
    height: 400px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 15px;
}
.infoDetails{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    
    color: #eee;
}
.desDetails{
    color: #eee;
    width: 75%;
    margin-left: 15px;
}
.rateDetails{
    margin-left: 15px;
    color: #eee;
}
.titleDetails{
    margin-left: 15px;
    color:#eee;
}

*/